<ion-modal-view cache-view="false" class="ion-nifty-modal college-details deepblue-theme modal-popup"
  style="width: 100%;
  height: 100% !important;
  top: auto;
  left: auto;
  right: 0px;
  bottom: 0px;
  border-radius:0px;
  background: rgba(0, 0, 0, 0) linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) repeat scroll 0 0;" ng-controller="PlayListDetailModal as detailModalCtrl" can-swipe-back="false">
    <ion-header-bar class="bar-deepblue" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) repeat scroll 0 0">
        <h1 class="title">Song Detail</h1>
        <div class="buttons">
            <button class="button" ng-click="detailModalCtrl.modalService.close()">close</button>
        </div>
    </ion-header-bar>
    <div class="ion-modal-content-custom" style="background: rgba(0, 0, 0, 0) linear-gradient(90deg, #00c6ff 10%, #0072ff 90%) repeat scroll 0 0">
        <ion-content class="college-detail-content" >
            <ion-slide-box active-slide="detailModalCtrl.activeSong"
            show-pager="false" does-continue="true"
            on-slide-changed="detailModalCtrl.slideChanged($index)" watch-slides
            >
              <ion-slide ng-repeat="song in detailModalCtrl.songs track by $index">
                <div ng-if="detailModalCtrl.activeSong === $index">
                  <div ng-controller="PlaylistCtrl as detailCtrl">
                    <ion-list>
                      <ion-item class="item wrap">
                        <h1>{{detailCtrl.song.song.id}} - {{detailCtrl.song.song.title}}</h1>
                      </ion-item>
                      <ion-item class="item wrap">
                        {{detailCtrl.song.song.detail}}
                      </ion-item>

                      <ion-item class="item wrap">
                        {{detailCtrl.song.song.detail}}
                      </ion-item>
                    </ion-list>
                </div>
                </div>
              </ion-slide>
          </ion-slide-box>
        </ion-content>
    </div>
</ion-modal-view>
